
<!DOCTYPE html>
<html lang="en">
<head>
    <title> | 'CRPT - City Resilience Profile Tool'</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="css/crpt.css" media="screen">
</head>
<body>
    <div class="container">
        
<div id="crpt-header">
<div class="page-header" style="margin: 18px 0px 18px;" id="banner">
    <div class="row  header">
        <div class="col-lg-2 header-city header-height">
            Test
        </div>

        <div class="btn-group col-lg-1 col-lg-offset-8 header-height">
          <a href="#" class="header-menu dropdown-toggle" data-toggle="dropdown">Resources</a>
          <ul class="dropdown-menu">
            <li><a href="#">User Guide</a></li>
            <li class="divider"></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="btn-group col-lg-1 header-height">
          <a href="#" class="header-menu dropdown-toggle" data-toggle="dropdown">City</a>
          <ul class="dropdown-menu">
            <li><a href="#">History</a></li>
            <li class="divider"></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
    </div> <!-- row -->
</div><!-- banner -->
</div>

        
        
<div class="jumbotron col-lg-12" >
    <h1 class="page-header">Steps</h1>

        <div class="col-lg-3">
            <a href="elements_basic_inf_electricity_contingency.html" class="btn col-lg-5" style="height:180px;width:100%;">
                <img src="img/step1.png" class="steps"/>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{% url 'city_id' assessment_id=assessment.id %}" class="btn col-lg-5" style="height:180px;width:100%;">
                <img src="img/step2.png" class="steps"/>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{% url 'city_id' assessment_id=assessment.id %}" class="btn col-lg-5" style="height:180px;width:100%;">
                <img src="img/step3.png" class="steps"/>
            </a>
        </div>

        <div class="col-lg-3">
            <a href="{% url 'city_id' assessment_id=assessment.id %}" class="btn col-lg-5" style="height:180px;width:100%;">
                <img src="img/step4.png" class="steps"/>
            </a>
        </div>

</div>



    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
